.form_container {
  background-image: url('https://images.unsplash.com/photo-1528501028382-e587fcf3a03e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80');
  background-size: cover;
  background-position: center center;
  color: #fff;
  height: 100vh;
  position: relative;
}

.form_container::after {
  content: '';
  background-color: #98be20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.9;
}

.form_container * {
  position: relative;
  z-index: 20;
}

.hero {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate(0, -50%);
}

.hero p {
  font-size: 2.5em;
  text-transform: uppercase;
}

.button {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: #98be20;
  font-size: 24px;
  width: 300px;
}

.button:hover {
  background-color: transparent;
  box-shadow: none;
  color: white;
  cursor: pointer;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  transition: opacity 0.3s, border 0.3s;
}

.button:hover::before {
  opacity: 0;
}

.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 3px solid white;
  opacity: 0;
  z-index: 2;
  transform: scaleX(1.1) scaleY(1.3);
  transition: transform 0.5s, opacity 0.5s;
}

.button:hover::after {
  opacity: 1;
  transform: scaleX(1) scaleY(1);
}

.picker {
  margin: 20px;
  padding: 10px;
  background-color: white;
  color: #98be20;
  font-size: 24px;
  width: 300px;
}

.picker:hover {
  background-color: transparent;
  box-shadow: none;
  color: white;
  cursor: pointer;
}
