body {
  background-color: #98be20;
  color: white;
}

.main-container {
  background-color: #98be20;
  text-align: center;
  padding-top: 100px;
  color: white;
}

.content-container {
  padding-top: 150px;
  max-width: 1024px;
  margin-left: 450px;
}

p {
  font-weight: 100;
  font-style: italic;
  font-size: 24px;
}

.button {
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  font-size: 24px;
  width: 300px;
}

.date {
  position: absolute;
  bottom: -60px;
}
