.sign_up_card {
  margin: 0 auto;
  margin-top: -100px;
  background: hsla(0, 0%, 100%, 0.8) !important;
  backdrop-filter: blur(30px) !important;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text_black {
  color: black;
}

.green_btn {
  background-color: rgb(151, 191, 15) !important;
}

.green_link {
  color: rgb(151, 191, 15) !important;
  text-decoration: none;
}

.logo-image {
  width: 70vw;
  margin: 0 auto;
}

.logo {
  height: 100%;
  width: 100%;
  object-fit: contain;
  padding-top: 2em;
}

@media screen and (min-width: 800px) {
.logo-image {
  width: 15vw;
  margin: 0 auto;
}
}
